{% load static %}

<article class="row justify-content-between mb-5 mr-0">
    <div class="col-md-9">
        <div class="align-self-center">
            <div class="capsSubtle mb-2">{{ article.category.title }}</div>
            <h3 class="entry-title mb-3"><a
                    href="{% url 'articles:detail' slug=article.slug %}">{{ article.title|capfirst }}</a>
            </h3>
            <div class="entry-excerpt">
                {% spaceless %}
                    <p>
                        {{ article.snippet }}
                    </p>
                {% endspaceless %}
            </div>
            <div class="entry-meta align-items-center author-avatar ml-0">
                <a class="author-avatar mr-2" href="{% url 'users-profile' article.author %}">
                    <img class="avatar" src="{% if article.author.profile.avatar %}
                        {{ article.author.profile.avatar.url }} {% else %}
                        {% static 'images/default-avatar.jpg' %} {% endif %}"
                    alt="img">
                </a>
                <a href="{% url 'users-profile' article.author %}">
                    {{ article.author }}
                </a><br>
                <span>{{ article.date }}</span>
                <span class="middotDivider"></span>
                <span class="readingTime" title="{{ article.time_of_read }} read">{{ article.time_of_read }} read</span>
                <span>
                    <i class="icon-bookmark"></i>
                    {{ article.count_of_favourites }}
                </span>
                <span>
                    <i class="icon-heart-fill"></i>
                    {{ article.count_of_likes }}
                </span>
                <span>
                    <i class="icon-comment"></i>
                    {{ article.count_of_comments }}
                </span>
                <span>
                    <i class="icon-eye"></i>
                    {{ article.count_of_views }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 bgcover" style="background-image:url(http://via.placeholder.com/800x495);"></div>
</article>