<div class="modal fade" id="report_comment-{{ id_modal }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Report to Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        {% for report in reports %}
                            <div class="item-radio">
                                <label class="form-check-label" for="{{ report.0 }}">{{ report.1 }}</label>
                                <input type="radio" name="report-to-comment" class="form-check-input"
                                       value="{{ report.0 }}">
                            </div>
                        {% endfor %}
                        <textarea style="font-size: 12px" minlength="20px" name="comment_of_report" placeholder="Extra comment to report..."></textarea>
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="ReportToComment(event, '{{ comment.id }}')">Report</button>
                </div>
            </form>
        </div>
    </div>
</div>
