{% load categories %}
{% load i18n %}

<nav id="main-menu" class="stick d-lg-block d-none">
    <div class="container">
        <div class="menu-primary">
            <ul>
                <li class="current-menu-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                <li class="menu-item-has-children"><a
                        href="{% url 'articles:category-list' %}">{% trans "Categories" %}</a>
                    <ul class="sub-menu">
                        {% get_active_categories as categories %}
                        {% for category in categories %}
                            <li>
                                <a href="{% url 'articles:articles-by-category' category.slug %}">{{ category.title|capfirst }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="typography.html">{% trans "Typography" %}</a></li>
                <li><a href="categories.html">{% trans "Politics" %}</a></li>
                <li><a href="categories.html">{% trans "Health" %}</a></li>
                <li><a href="categories.html">{% trans "Design" %}</a></li>
                <li><a href="categories.html">{% trans "Startups" %}</a></li>
                <li><a href="categories.html">{% trans "Culture" %}</a></li>
                <li><a href="contact.html">{% trans "Contact" %}</a></li>
                <li class="menu-item-has-children"><a href="#">{% trans "More..." %}</a>
                    <ul class="sub-menu">
                        <li><a href="search.html">{% trans "Search" %}</a></li>
                        <li><a href="author.html">{% trans "Author" %}</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
            </ul>
            <span></span>
        </div>
    </div>
</nav>