<div class="single-comment comments_wrap">
    <section id="comments">
        <div class="comments-inner clr">
            <div id="respond" class="comment-respond">
                <h5 id="reply-title" class="comment-reply-title">Leave a Reply</h5>
                <form action="{% url 'articles:add-comment' article.id %}" method="post" id="commentform" class="comment-form">
                    {% csrf_token %}
                    <p class="comment-notes">
                        <span id="email-notes">
                            {% if form_comment.content.errors.items %}
                                {{ form_comment.content.errors }}
                            {% endif %}
                        </span>
                    </p>
                    <p class="comment-form-comment">
                        {{ form_comment.content }}

                    </p>
                    <p class="form-submit">
                        <input name="submit" type="submit" id="submit" class="btn btn-success btn-block"
                               value="Post Comment">
                    </p>
                </form>
            </div>
            <!-- #respond -->
        </div>
    </section>
</div>