{% load static %}
<div class="container">
    <div class="align-items-center w-100">
        <h1 class="logo float-left navbar-brand"><a href="/" class="logo">Merinda</a></h1>
        <div class="header-right float-right w-50">
            <div class="d-flex float-right text-right align-items-center">
                <form action="{% url 'search' %}" method="get" class="search-form d-flex align-items-center">
                    <a href="javascript:void(0)" class="searh-toggle">
                        <i class="icon-search"></i>
                    </a>
                    <input type="text" class="search_field" placeholder="Search..." value="" name="q">
                </form>
                {% if user.is_authenticated %}
                    <ul class="top-menu heading nav w-100 d-lg-flex align-items-center">
                        <li><a href="{% url 'articles:create' %}" class="btn pt-1 pb-1">New Article</a></li>
                        <li>
                            <div class="author-avatar dropdown">
                                <img title="@{{ user.username }}" class="dropdown-toggle cursor-pointer" data-toggle="dropdown"
                                     aria-haspopup="true" aria-expanded="false"
                                     src="{% if user.profile.avatar %} {{ user.profile.avatar.url }} {% else %} {% static 'images/default-avatar.jpg' %} {% endif %}"
                                     alt="img">
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'profiles:profile-details' %}"><i class="icon-user"></i>Profile</a>
                                    <a class="dropdown-item" href="{% url 'profiles:draft-articles' %}"><i class="icon-pencil"></i>My articles</a>
                                    <a class="dropdown-item" href="{% url 'articles:favourite-articles' %}"><i class="icon-bookmark"></i>Saved articles</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item logout-link" href="{% url 'accounts:logout' %}"><i class="icon-logout"></i>Log out</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class="top-menu heading nav w-100 d-lg-flex align-items-center">
                        <li><a class="btn-link btn py-xl-1" href="{% url 'accounts:login' %}">Login</a></li>
                        <li><a class="btn-link btn py-xl-1 " href="{% url 'accounts:signup' %}">Signup</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>