{% extends 'base_sidebar.html' %}
{% load static %}

{% block header %}Profile{% endblock %}
{% block content %}
    {% if profile.user %}
        <div class="avatar-wrapper">
            <img class="profile-pic {% if profile.avatar %} avatar-modal {% endif %} "
                 src="{% if profile.avatar %} {{ profile.avatar.url }} {% else %} {% static 'images/default-avatar.jpg' %} {% endif %}"
                 alt="img"/>
        </div>
        <div class="profile_avatar_modal">
            <div class="big_img">
                <img class="view_img_full"
                     src="{% if profile.avatar %} {{ profile.avatar.url }} {% else %} {% static 'images/default-avatar.jpg' %} {% endif %}"
                     alt="">
            </div>
            <div class="img_fixvh">
                <span class="exit_img"><i class="fa fa-close"></i></span>
            </div>
        </div>

        {% if profile.user.first_name %}
            <p>Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
        {% endif %}
        {% if profile.user.username %}
            <p>Username: {{ profile.user.username }} </p>
        {% endif %}
        {% if profile.user.email %}
            <p>Email: {{ profile.user.email }}</p>
        {% endif %}
        {% if profile.user.date_joined %}
            <p>Date joined: {{ profile.user.date_joined }} </p>
        {% endif %}
        {% if profile.bio %}
            <p>Bio: {{ profile.bio }}</p>
        {% endif %}
        {% if profile.location %}
            <p>Location: {{ profile.location }}</p>
        {% endif %}
        {% if profile.birth_date %}
            <p>Birth date: {{ profile.birth_date }}</p>
        {% endif %}
        {% if user.username|lower == profile.user.username|lower %}
            <a href="{% url 'profiles:profile-update' %}">
                <button class="btn btn-outline-success btn-default" type="submit">Edit profile</button>
            </a>
        {% endif %}
        <hr>
        <h2><a href="{% url 'profiles:draft-articles' %}" class="">My Articles</a></h2>
        {% if articles %}
            {% for article in articles %}
                <p>
                    <a href="{% url 'articles:detail' slug=article.slug %} ">{{ article.title }}</a> - {{ article.date }}
                </p>
                <br>
            {% endfor %}
        {% else %}
            <b>No articles yet!</b>
        {% endif %}
    {% else %}
        <p>No user with given username!</p>
    {% endif %}
    <br>
{% endblock %}
