{% extends 'base_sidebar.html' %}

{% block header %}Edit profile{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button class="btn btn-outline-success btn-default" type="submit">Save changes</button>
    </form>

    <br>
    <hr>

    <h2>Security</h2>
    <div class="d-flex align-items-center">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur debitis, dignissimos
                doloremque error esse ex facere iste labore laudantium neque non placeat, quia, quod sint sit temporibus
                tenetur veniam!
            </span>
        <a href="{% if can_disconnect %}
                    {% url 'accounts:password_change' %}{% else %} {% url 'accounts:password' %}
                 {% endif %}"
           class="btn btn-primary btn-sm col-2 pl-0 pr-0 h-50">Change
            Password</a>
    </div>
    <hr>

    <h2>Social</h2>
    <div class="d-flex justify-content-around mt-3">{% include '_partials/settings.html' %}</div>

{% endblock %}
