{% extends 'base_empty.html' %}

{% block content %}
    <h1>Login</h1>
    <form class="" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input type="submit" name="" value="Login">
        <a class="ml-3" href="{% url 'accounts:password_reset' %}">Forgot password</a>
    </form>
    <br>
    <br>
    <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
    <br>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
{% endblock %}
