{% extends "base_empty.html" %}
{% block content %}
    <div class='row'>
        <div class='col-md-4 col-10  mx-auto'>
            <h3>Change your Password</h3>
            <form method='post' action='' class="mt-3">{% csrf_token %}
                {% for items_form in form %}
                    <div class="d-flex mx-3">
                        <label>{{ items_form.label }}:</label>
                        <div class="ml-auto">
                            {{ items_form }}
                            {{ items_form.default_error_messages }}
                            {{ items_form.errors }}
                        </div>
                    </div>
                {% endfor %}
                <span style='margin-bottom: 12px;'></span>
                <button type="submit" class='mt-3 btn btn-block btn-success'>Save</button>
            </form>
        </div>
    </div>
{% endblock %}