{% extends 'base_single.html' %}

{% block header%}{{ article.title }}{% endblock %}

{% block content %}
  <p>{{ article.body }}</p>
  <p>{{ article.date }}</p>
{% endblock %}
{% block bottom %}
     {% if article.tag %}
        <div class="entry-bottom">
            <div class="tags-wrap heading">
                <span class="tags">
                    {% for tags in article.tag.all|dictsort:"title"%}
                        <a href="{% url 'articles-by-tag' tags %}" rel="tag">{{ tags }}</a>
                    {% endfor %}
                </span>
            </div>
        </div>
    {% endif %}
{% endblock %}
