{% extends 'base.html' %}

{% block root_content %}
<div class="container">
    <div class="entry-header">
        <div class="mb-5">
            <h1 class="entry-title m_b_2rem">
            {% block header %} {% endblock %}
            </h1>
            <div class="entry-meta align-items-center">
                <a class="author-avatar" href="#"><img src="/static/images/author-avata-2.jpg" alt=""></a>
                <a href="{% url 'profiles:profile-details'%} }}">{{ article.author }}</a> in <a href="archive.html">OneZero</a><br>
                <span>{{ article.date }}</span>
                <span class="middotDivider"></span>
                <span class="readingTime" title="3 min read">3 min read</span>
                <span class="svgIcon svgIcon--star">
                    <svg class="svgIcon-use" width="15" height="15">
                        <path d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z"></path>
                    </svg>
                </span>
            </div>
        </div>
    </div> <!--end single header-->
<!--    <figure class="image zoom mb-5">-->
<!--        <img src="http://via.placeholder.com/1240x700" alt="post-title" />-->
<!--    </figure>-->

    <article class="entry-wraper mb-5">
        <div class="entry-left-col">
            <div class="social-sticky">
                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-heart"></i></a>
                <a href="#"><i class="icon-paper-plane"></i></a>
            </div>
        </div>
        <div class="entry-main-content">
            {% block content %}
            {% endblock %}
        </div>
        <div>
            {% block bottom %}
            {% endblock %}
        </div>

        {% include '_partials/article_author.html' %}
    </article> <!--entry-content-->

    <!--Begin post related-->
    {# include '_partials/related.html' #}
    <!--End post related-->

    <!--Begin Comment-->
    {# include '_partials/comment.html' #}
    <!--End Comment-->
</div> <!--container-->
{% endblock %}